! nfacctd configuration
!
!
!
daemonize: true
pidfile: /var/run/nfacctd.pid
syslog: daemon
!
pre_tag_map: /etc/pmacct/pretag.map
aggregate: src_host, dst_host, src_as, dst_as, peer_src_ip, peer_dst_ip, peer_src_as, peer_dst_as, label
!
bgp_daemon: true
bgp_daemon_ip: 127.0.0.4
bgp_daemon_port: 180
bgp_daemon_max_peers: 1
bgp_agent_map: /etc/pmacct/peering_agent.map
bgp_peer_src_as_map: /etc/pmacct/peers.map
bgp_peer_src_as_type: map
!
plugins: kafka
kafka_output: json
kafka_broker_host: {{ app_bgp_bird2_pmacct_kafka_broker_host }}
kafka_topic: nfacct.acct
kafka_refresh_time: 5
kafka_history: 5m
kafka_history_roundoff: m